body{
  background-color: grey;
}

.header{
  padding: 20px;
}

.bg-hero-img{
   background-color: #454545;
}

/*footer hover/footerstyle */
.footerhover:hover{
    animation: bounce .3s infinite alternate;
    
}

@keyframes bounce {
    to { transform: scale(1.2); }
  }

  .footerstyle{
    bottom: 0;
  }
/*footer hover  */


/* Navbar hover */
.link-cont {
  position: relative;
  font-size: 24px;
}
.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
}
.link-wrapper {
  position: relative;
  display: block;
  padding: 20px 0;
}
.inner-wrapper {
  position: relative;
  display: inline-block;
}

.hover-6:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 50%;
  height: 3px;
  background-color: #20C2F7;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s;
}
.hover-6:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 50%;
  height: 3px;
  background-color: #20C2F7;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}
.hover-6:hover:before {
  transform: scaleX(1);
}
.hover-6:hover:after {
  transform: scaleX(1);
}
/* Navbar end */

/* card */
.card {
  width: 25rem;
  border: 2px solid black;
  border-radius: 20px;
  transition: transform 0.2s;
  margin: 10px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px #20C2F7;
  transition: .5s;
  
}

.cardimgborder{
  border: solid 4px black;
}

/*card end*/

/*button hover from https://markodenic.com/tools/buttons-generator/*/

.btnstyle {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid blue;
  color: blue;
}
.btnstyle:hover {
  color: #fff;
}
.btnstyle:hover:after {
  height: 100%;
}
.btnstyle:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: blue;
}
/*button hover end*/



/*card end*/

/*header*/
.customborder{
  border: solid 3px ;
  font-size: 1.25rem;
}

